/* big tablet to 1200px: from 1023px to 1199px */
@media only screen and (max-width: 1200px) {

    .social-links, 
    .main-nav {
        margin-right: 3%;
    }
}

/* iPad in portrait mode: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

/* ---------------------------- */
/* Comics */
/* ---------------------------- */

    .comics-landing-page {
        max-width: 750px;
    }

    .img-container {
        display: inline-block;
        position: relative;
        height: 225px;
        width: 225px;
        overflow: hidden;
        margin-right: 15px;
        margin-top: 15px;
    }
    
    .img-comic {
        height: 225px;
        width: 225px;
    }

    .img-text {
        font-size: 75%;
    }

    .comic-container {
        width: 90%;
        margin-left: 5%;
        padding-top: 50px;
    }

    .sad-castle-page img {
        height: 250px;
        margin-bottom: 40px;
    }

}
    
/* phones smaller than iPad: from 481px to 767px */
@media only screen and (max-width: 767px) {

/* ---------------------------- */
/* MOBILE NAV */
/* ---------------------------- */

    .main-nav { 
        font-size: 180%;
        display: none;
        width: 100%;
        margin: 0;
    }

    .main-nav li { 
        display: block; 
        margin: 0;
        text-align: center;

    }

    .nav-other:link,
    .nav-other:visited,
    .nav-focus {
        margin-left: 0;
        padding: 11px 0 10px 0;
    }

    .main-nav li a:link,
    .main-nav li a:visited { 
        border-bottom: solid #C2BB8A 1px;
    }

    .main-nav li:first-child a:link,
    .main-nav li:first-child a:visited { 
        border-top: solid #C2BB8A 1px;
        padding-top: 12px;
    }

    .mobile-nav-icon { display: inline-block; }

    #toggle:checked ~ .main-nav {
        display: block;
    }

/* ---------------------------- */
/* Comics */
/* ---------------------------- */

    .ribbon {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .ribbon img {
        width: 100%;
        height: auto;
    }

    .comic-description {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .sad-land-page img {
        display: block;
        width: 300px;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .sad-land-page img:last-child,
    .sad-castle-page img:last-child {
        padding-left: 0;
    }

    .sad-land-page:last-of-type,
    .sad-castle-page:last-of-type {
        margin-bottom: 30px;
    }

/* ---------------------------- */
/* Footer */
/* ---------------------------- */

    footer p {
        font-size: 100%;
    }
    
    footer p span {
        font-size: 70%;
    }

    
    .social-links li {
        font-size: 150%;
    }

    .social-links li a:link,
    .social-links li a:visited {
        margin-left: 12px;
    }

    
    .comic-container {
        width: 100%;
        margin-left: 0%;
    }

    .e-h-page img, 
    .the-last-stop-page img,
    .jeremy-thomas-page img {
        width: 90%;
        margin-left: 5%;
        height: auto;
        margin-bottom: 30px;
    }

    .sad-castle-page img {
        width: 70%;
        height: auto;
        margin-bottom: 40px;
    }

}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    
/* ---------------------------- */
/* Comics */
/* ---------------------------- */

    .ribbon img {
        width: 170%;
        height: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .sad-land-page img,
    .sad-castle-page img {
        width: 80%;
        height: auto;
        margin-bottom: 25px;
    }

}