

/* ---------------------------- */
/* Basic Setup */
/* ---------------------------- */

/* gets rid of all margins, padding and box-sizing. suggested to add at the beginning of all css sheets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sets up the basic default style rules of the website. */
html {
    background-color: #7f8c8d;
    color: #fff;
    /* lato points to the google fonts lato in our style sheet. Arial is specified as backup and sans if that is not available */
    font-family: "Balsamiq Sans", "Arial", sans-serif;
    font-weight: 300;
    /* base font-size here is defined. All other font-size will be percentages based off this. */
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* Reusable objects */
/* ---------------------------- */

/* This row is the only one with pixel value. all others will be relative to this */
.row {
    max-width: 1140px;
    /* top and bottom margins are set to 0. left and right set to auto or centered */
    margin: 0 auto;
}

/* ---------------------------- */
/* Header */
/* ---------------------------- */

.header {
    background-color: black;
}

#header-logo {
    display: inline-block;
    border-radius: 200px;
}

.ghost-logo {
    background-image: url('../img/home.png');
}

.main-nav {
    float: center;
    /* get rid of bullet points */
    list-style: none;
    /* distance from top */
    margin-top: 20px;
    text-align: center;
}

.main-nav li {
    /* makes the list horizontal instead of vertical */
    display: inline-block;
    /* how many pixels they are spaced apart */
    margin-bottom: 20px;
    margin-left: 50px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.main-nav li:first-child { margin-left: 0px; }

.main-nav li a {
    display: block;
    padding: 9px 25px;
}

li.Nav-logo {
    border-top: none;
    border-bottom: none;
}

#header-logo {
    height: 50px;
    width: auto;
    margin-bottom: -20px;
    border: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    letter-spacing: 3px;
    color: #fff;
    background-color: #000;
    font-size: 65%;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.7s;
    transition: background-color 0.7s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #000;
    background-color: #fff;
    /*padding-bottom: 5px; 
    border-bottom: 2px solid #34495e;*/
}

/* ---------------------------- */
/* Hero */
/* ---------------------------- */

.hero-section {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.7)), url(img/bubbles.jpg);
    background-color: rgb(32, 32, 32);
    margin-top: -27px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*background-attachment: fixed;*/
}

/* ---------------------------- */
/* Footer */
/* ---------------------------- */

footer {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #000;
}

footer p {
    display: inline-block;
    font-style: italic;
    font-size: 80%;
    color: rgb(194, 194, 194);
}

.social-links {
    float: right;
    list-style: none;
}

.social-links li {
    display: inline-block;
    font-size: 140%;
}

.social-links li i {
    margin-left: 15px;
    color: #fff;
}
