
/* Colors *\

off-black: #29211F
off-white: #F5F4EB
beige: #C2BB8A
burnt orange: #C27D38
greenish: #8D9876

 \*       */

/* ---------------------------- */
/* Basic Setup */
/* ---------------------------- */

/* gets rid of all margins, padding and box-sizing. suggested to add at the beginning of all css sheets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sets up the basic default style rules of the website. */
html, body {
    width: 100%;
    height: 100%;
    background-color: #F5F4EB;
    /* background-color: #7f8c8d; */
    color: #fff;
    /* lato points to the google fonts lato in our style sheet. Arial is specified as backup and sans if that is not available */
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    /* base font-size here is defined. All other font-size will be percentages based off this. */
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* this is defining clearfix. it will fix the spacing when a float or ul messes up the spacing */
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------- */
/* Reusable objects */
/* ---------------------------- */

/* This row is the only one with pixel value. all others will be relative to this */
.row {
    max-width: 1140px;
    /* top and bottom margins are set to 0. left and right set to auto or centered */
    margin: 0 auto;
}

/* ---------------------------- */
/* Headings */
/* ---------------------------- */

h1 {
    color: #C27D38;
}

/* ---------------------------- */
/* Header */
/* ---------------------------- */

.header {
    background-color: #29211F;
}

.main-nav {
    float: right;
    list-style: none;
    margin: 35px 0px;
    display: block;
}

.main-nav li {
    display: inline-block;
    font-size: 90%;
    font-family: "Balsamiq Sans", "Arial", sans-serif;
}

.main-nav li:first-child { margin-left: 0px; }

.nav-other:link,
.nav-other:visited,
.nav-focus {
    display: block;
    margin-left: 15px;
    padding: 7px 5px;
    letter-spacing: 3px;
    font-size: 65%;
    text-decoration: none;
    text-transform: uppercase;
    color: #C2BB8A;
    border-bottom: 2px solid transparent; 
    transition: all 0.2s;
}

.nav-focus {
    border-bottom: 2px solid #C2BB8A; 
}

.nav-other:hover,
.nav-other:active,
.nav-focus:hover,
.nav-focus:active {
    opacity: 70%;
    border-bottom: 2px solid #C2BB8A; 
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10%;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #C2BB8A;
}

#toggle {
    display: none;
}

/* ---------------------------- */
/* H Elements */
/* ---------------------------- */

h1 {
    color: brown;
}

h2 {
    color: #29211F;
    margin: 60px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 200%;
    font-weight: 300;
}

h2::after {
    height:2px;
    width: 50px;
    background-color: black;
}

h3 {
    color: #29211F;
    font-size: 140%;
    margin-bottom: 40px;
}

/* ---------------------------- */
/* Footer */
/* ---------------------------- */

footer {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #29211F;
}

footer p {
    font-size: 120%;
    text-align: center;
    color: #C2BB8A;
    word-spacing: 3px;
    letter-spacing: .5px;
    font-weight: 900;
    transform: scale(1.1, 1);
}

footer p span {
    font-size: 80%;
}

.social-links {
    float: right;
    list-style: none;
}

.social-links li {
    display: inline-block;
    font-size: 170%;
}

.social-links li a:link,
.social-links li a:visited {
    margin-left: 15px;
    color: #8D9876;
    transition: opacity 0.2s;
}

.social-links li a:hover,
.social-links li a:active {
    opacity: 60%;
}

.ribbon {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    width: auto;
}

.ribbon img {
    height: 225px;
}

/* ---------------------------- */
/* Comics */
/* ---------------------------- */


.comics-landing-page {
    max-width: 1000px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 70px;
}

.comic-description {
    color: #29211F;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
}

.comic-container {
    width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    border-top: 1px solid #29211F;
}

/* E-H */

.e-h-page img {
    display: block;
    /* center all block elements */
    margin: auto;
    height: 700px;
    width: auto;
    margin-bottom: 50px;
}

/* SAD LAND */

.sad-land-page img {
    height: 300px;
    width: auto;
    margin-bottom: 50px;
}

.sad-land-page img:last-child {
    padding-left: 5px;
}

/* SAD CASTLE */

.sad-castle-page img {
    height: 290px;
    width: auto;
    margin-bottom: 60px;
}

.sad-castle-page img:last-child {
    padding-left: 9px;
}

/* THE LAST STOP */

.the-last-stop-page img {
    display: block;
    margin: auto;
    height: 900px;
    width: auto;
    margin-bottom: 50px;
}

/* JEREMY THOMAS */

.jeremy-thomas-page img {
    display: block;
    margin: auto;
    height: 650px;
    width: auto;
    margin-bottom: 60px;
}

.jeremy-thomas-chapters {
    text-align: center;
    margin-bottom: 40px;
    color: #8D9876;
}

.jeremy-thomas-chapters li {
    padding-bottom: 15px;
}

/* ---------------------------- */
/* COMICS - Overlay */
/* ---------------------------- */

/* this targets the container that holds the img and text it makes it one solid unit */
.img-container {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 20px;
}

.img-container:nth-child(3n) {
    padding-right: 0px;
}

.img-comic {
    height: 250px;
    width: 250px;
    transition: transform .5s;
}

.img-container:hover .img-comic {
    transform: scale(1.03);
}

.img-overlay {
    background-color: #eee;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-container:hover .img-overlay {
    opacity: .75;
    top: 85%;
}

.img-text {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 85%;
    color: black;
    opacity: 0;
    transition: all .5s ease;
}

.img-container:hover .img-text {
    opacity: 1;
    bottom: 10px;
}

/* ---------------------------- */
/* Illustration */
/* ---------------------------- */

.illustration-section {
    text-align: center;
    display: block;
}

.illustration-container {
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.illustration-img {
    height: 600px;
    width: auto;
    padding: 35px;
    border-top: 1px solid  #29211F;
    border-right: 1px solid  #29211F;
    border-bottom: 1px solid  #29211F;
    border-left: 1px solid  #29211F;
}

.illustration-text {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%); 
    margin: auto;
    z-index: 1;
    font-size: 130%;
    color: #29211F;
    background-color: #F5F4EB;
    padding: 0 15px;
    font-weight: 300;
}

.about-section img {
    height: 900px;
    width: auto;
}

p {
    color: #29211F;
    font-size: 70%;
}